body { font-family: 'Open Sans', sans-serif; margin: 0; font-weight: 300; }
th { font-weight: normal; text-align: center; padding-left: 0.45em; padding-right: 0.45em; padding-bottom: 1em; padding-top: 1em; position: relative; min-width: 40px; font-size: 13px; background: #eee; vertical-align: middle; }
th abbr { font-weight: bold; }
td { background: #eee; padding-left: 5px; margin-left: -10px; font-size: 14px; }
td span { position: relative; display: inline-block; }
td:hover .anchor, td .anchor:focus { color: #00c; }
td .anchor { display: block; position: absolute; top: -5px; left: -22px; text-decoration: none; padding: 5px; color: #fff; }
td:first-child { min-width: 285px; }
th:nth-child(3) { min-width: 10px; }
th a { text-decoration: none; }
table { margin-bottom: 2em; width: 100%; }
p { margin-bottom: 0.5em; margin-top: 0; }
code { font-family: "Courier New", Courier, monospace; }

table.one-selected td { opacity: 0.3; }
tr.selected td { padding-top: 30px; padding-bottom: 30px; opacity: 1; }
td.selected { padding-left: 30px; padding-right: 30px; opacity: 1 !important; }

#table-wrapper tr:hover td { background: #ddd; }
#table-wrapper tr:hover td.yes, #table-wrapper td.hover.yes { background: #171; }
#table-wrapper tr:hover td.no, #table-wrapper td.hover.no { background: #b11; }

#body { padding-left: 1em; position: relative; min-width: 1250px; }

#header { background: #454545; margin-bottom: 0.5em; }
.non-standard #header { background: #0094c0; }

#header a { color: #eee; text-decoration: none; }
.non-standard #header a { color: #fff; }

#header h1 { margin: 0 0 0 0.5em; color: #eee; padding: 0.5em; font-size: 1.25em; overflow: hidden }
.non-standard #header h1 { color: #fff; }

#footnotes { margin-left: 1.75em; margin-bottom: 1em; font-size: 0.9em; }

.yes a, .no a { color: #fff; font-family: 'Open Sans', sans-serif;  }
.yes, .no { text-align: center; font-family: 'Open Sans', sans-serif;
            font-size: 0.8em; padding: 0.25em 0.5em; color: #fff; }
.yes { background: #4a4; }
.no { background: #e11; }
.test-name { width: 260px; }
.warning { background: #ffc; display: inline-block; margin: 0 0 2em 0; padding: 0.25em; }
.separator { padding: 0; height: 0.5em; background: none; }
.this-browser { background-color: #eef; color: #55f; text-transform: uppercase; padding: 4px 5px; width: 110px;
  font-size: 13px; vertical-align: top; }

#table-wrapper .obsolete { display: none; }
#show-obsolete:checked + #table-wrapper .obsolete { display: table-cell; }
label[for="show-obsolete"] { background: #eef; padding: 5px; margin-left: 10px; margin-right: -30px; padding-right: 30px; }

label[for="sort"] { margin-left: 20px; background: #fee; padding: 5px; margin-right: -30px; padding-right: 30px; }

.also-see { font-size: 14px; display: inline-block; background:#ddf; padding: 12px; position:absolute;top:0;left:50%;margin-left:-174px; color: #333; font-family: 'Open Sans', sans-serif; }
.also-see a { color: blue !important; text-decoration: underline !important; }

.info { color: #eee; float: right; margin-right: 5px; background: #999; display: inline-block;
  width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 20px;
  font-size: 12px; cursor: default; font-family: "Courier New", Courier, monospace }

.info:hover { background: #555 }

.info-tooltip { position: absolute; padding: 15px; background: #fff; border: 2px solid #555; box-shadow: rgba(0,0,0,0.6) 1px 1px 10px; z-index: 10000 }

.FlattrButton { margin-right: 15px }

.back { font-size: 14px; font-weight: normal; text-decoration: underline !important; margin-left: 20px; font-family: "Courier New", Courier, monospace; }
.back:hover, .back:focus { text-decoration: none !important; }

.browser-name:hover { opacity: 0.9; }

.num-features { position: absolute; top: -13px; right: 0px; font-size: 11px; }
.num-features b { font-weight: bold; }
