body { font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif; margin: 0; }
th { text-align: center; padding-left: 1em; padding-right: 1em; padding-bottom: 1em ; }
td { background: #eee; padding-left: 5px; margin-left: -10px; }
td span { position: relative; display: inline-block; }
td:hover .anchor, td .anchor:focus { color: #00c; }
td .anchor { display: block; position: absolute; top: -5px; left: -22px; text-decoration: none; padding: 5px; color: #fff; }
td:first-child { min-width: 285px; }
th a { text-decoration: none; }
table { margin-bottom: 2em; }
p { margin-bottom: 0.5em; margin-top: 0; }
code { font-family: "Courier New", Courier, monospace; }

table.one-selected td { opacity: 0.4;}
tr.selected td { padding-top: 30px; padding-bottom: 30px; opacity: 1; }

#body { padding-left: 1em; position: relative; min-width: 1250px; }

#header { background: #454545; margin-bottom: 0.5em; }
.non-standard #header { background: #0094c0; }

#header a { color: #eee; text-decoration: none; }
.non-standard #header a { color: #fff; }

#header h1 { margin: 0 0 0 0.5em; color: #eee; padding: 0.5em; font-size: 1.25em; }
.non-standard #header h1 { color: #fff; }

#footnotes { margin-left: 1.75em; margin-bottom: 1em; font-size: 0.9em; }

.yes a, .no a { color: #fff; font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;  }
.yes, .no { text-align: center; font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
            font-size: 0.8em; padding: 0.25em 0.5em; color: #fff; }
.yes { background: #393; }
.no { background: #c11; }
.test-name { width: 260px; }
.warning { background: #ffc; display: inline-block; margin: 0 0 1.5em 0; padding: 0.25em; }
.separator { padding: 0; height: 0.5em; }
.this-browser { background-color: #eef; color: #55f; text-transform: uppercase; padding: 4px 5px; width: 110px;
  font-size: 13px; vertical-align: top; }

.hide-old-browsers .safari3,
.hide-old-browsers .safari4,
.hide-old-browsers .ie7,
.hide-old-browsers .firefox3,
.hide-old-browsers .chrome5,
.hide-old-browsers .chrome6,
.hide-old-browsers .opera10_10 { display: none; }

#show-old-browsers-wrapper { position: absolute; top: 5px; right: 20px; background: #eef; display: inline-block; }

#table-wrapper > table .obsolete { display: none; }
#show-obsolete:checked + #table-wrapper > table .obsolete { display: table-cell; }

.also-see { font-size:15px;display:inline-block;background:#ddf;padding:4px 6px;position:absolute;top:0;left:50%;margin-left:-174px; color: #333; }
.also-see a { color: blue !important; font-weight: normal; }

.info { color: #eee; float: right; margin-right: 5px; background: #999; display: inline-block;
  width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 20px;
  font-size: 12px; cursor: default; font-family: monospace }

.info:hover { background: #555 }

.info-tooltip { position: absolute; padding: 15px; background: #fff; border: 2px solid #555; box-shadow: rgba(0,0,0,0.6) 1px 1px 10px; z-index: 10000 }

.FlattrButton { margin-right: 15px }