body {
    font-family: 'Open Sans', sans-serif; margin: 0; font-weight: 300; display: inline-block;
}
table {
    margin-bottom: 2em; width: 100%; 
}
th {
    font-weight: normal; text-align: center; padding: 1em 0.45em; position: relative; min-width: 40px; font-size: 13px; background: #eee; vertical-align: middle; 
}
th abbr {
    font-weight: bold; 
}
th:nth-child(3) {
    min-width: 10px; 
}
td {
    background: #eee; position:relative; padding-left: 5px; margin-left: -10px; font-size: 14px; 
}
td:hover .anchor,
td .anchor:focus {
    color: #00c; 
}
td .anchor {
    display: block; position: absolute; top: -5px; left: -22px; text-decoration: none; padding: 5px; color: #fff; 
}
td:first-child {
    min-width: 285px; 
}
a[href^='#'] {
    text-decoration: none; 
}

code {
    font-family: "Courier New", Courier, monospace; 
}

tr:hover, tr.hover td {
    background: #ddd; 
}

/* selected cell opacity */
table.one-selected td {
    opacity: 0.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
}
table.one-selected td:first-child {
    opacity: 1; 
}
table.one-selected tr.selected td {
    padding-top: 30px; padding-bottom: 30px; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
table.one-selected td.selected {
    padding-left: 30px; padding-right: 30px; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}

/* yes/no grid text colors */
.yes a,
.no a {
    color: #fff;  
}
.yes,
.no,
.not-applicable {
    text-align: center; font-size: 0.8em; padding: 0.25em 0.5em; color: #fff; 
}

/* yes/no grid cell colors */
.yes {
    background: hsl(120,  43%,  47%); background: #44ab44;
}
tr:hover td.yes,
td.hover.yes {
    background: hsl(120,  74%,  27%); background: #127812; 
}

.no {
    background: hsl(  0,  87%,  50%); background: #e11; 
}
tr:hover td.no,
td.hover.no {
    background: hsl(  0,  83%,  40%); background: #b11; 
}

.yes.obsolete {
    background: hsl(120,  28%,  61%); background: #80b780; 
}
tr:hover td.yes.obsolete,
td.hover.yes.obsolete {
    background: hsl(120,  24%,  37%); background: #487548; 
}

.no.obsolete {
    background: hsl(  0,  72%,  65%); background: #e66565; 
}
tr:hover td.no.obsolete,
td.hover.no.obsolete {
    background: hsl(  0,  33%,  50%); background: #a55; 
}

.not-applicable {
    background: hsl(120,  14%,  67%); background: #9fb79f; cursor: help; 
}
tr:hover td.not-applicable,
td.hover.not-applicable {
    background: hsl(120,  14%,  47%); background: #678967; 
}

/* non-standard no */
.non-standard .no {
    background: #4444ac; 
}
.non-standard tr:hover td.no,
.non-standard td.hover.no {
    background: #111178; 
}

.non-standard .no.obsolete {
    background: #8080b8; 
}
.non-standard tr:hover td.no.obsolete,
.non-standard td.hover.no.obsolete {
    background: #474775; 
}

/* tooltip button/box */
.info {
    color: #eee; float: right; margin-right: 5px; background: #999; display: inline-block; width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 20px; 
    font-size: 12px; cursor: default; font-family: "Courier New", Courier, monospace 
}
.info:hover {
    background: #555 
}
.info-tooltip {
    position: absolute; padding: 15px; background: #fff; border: 2px solid #555; box-shadow: rgba(0,0,0,0.6) 1px 1px 10px; z-index: 10000 
}

/* 'show obsolete' toggle */
.obsolete {
    display: none; 
}
#show-obsolete:checked + #table-wrapper .obsolete {
    display: table-cell;  
}
/* for IE compatibility, this must be a separate rule. */
#show-obsolete[value='on'] + #table-wrapper .obsolete {
    display: table-cell; 
}

/* page header */
#body {
    padding-left: 1em; position: relative; min-width: 1250px; display: inline-block; 
}
#header {
    background: #454545; margin-bottom: 0.5em; color: #eee; text-decoration: none; width: 100%; 
}
#header h1 {
    margin: 0 0 0 0.5em; padding: 0.5em; font-size: 1.25em; overflow: hidden 
}
#header a {
    color: inherit; text-decoration: none; 
}
.warning {
    background: #ffc; display: inline-block; margin: 0 0 2em 0; padding: 0.25em; 
}
label[for="show-obsolete"] {
    background: #eef; padding: 5px; margin-left: 10px; margin-right: -30px; padding-right: 30px; 
}
label[for="sort"] {
    background: #fee; margin-left: 20px; padding: 5px; margin-right: -30px; padding-right: 30px; 
}
.also-see {
    font-size: 14px; display: inline-block; background:#ddf; padding: 12px; position:absolute;top:0;left:50%;margin:0em 0em 0.5em -174px; color: #333; font-family: 'Open Sans', sans-serif; 
}
.also-see a {
    font-weight: bold; color: blue !important; text-decoration: underline !important; 
}
.platformtype {
	font-weight: bold;
}

/* page-specific header colors */
.es6 #header {
    background: #3c568a; color: #fff; 
}
.es6 .warning {
    background: #c2e2ff; 
}
.es6 label[for="show-obsolete"] {
    background: #daf2ff; 
}
.es6 label[for="sort"] {
    background: #c0e8ff; 
}
.es6 .also-see {
    background: #eaeef6; 
}
.non-standard #header {
    background: #0094c0; color: #fff; 
}
.es7 #header {
    background: DarkSlateBlue; 
}

#footnotes {
    margin-left: 1.75em; margin-bottom: 1em; font-size: 0.9em; 
}

.test-name {
    width: 260px; 
}
.num-features {
    position: absolute; top: -15px; right: 0px; font-size: 11px; 
}
.num-features b {
    font-weight: bold; 
}
.separator {
    padding: 0; height: 0.5em; background: none; 
}
.this-browser {
    background-color: #eef; color: #55f; text-transform: uppercase; padding: 4px 5px; width: 110px; font-size: 13px; vertical-align: top; 
}

/* browser engine color stripes */

/* Trident */
th[class^=ie] {
  border-bottom: 5px solid #2571ed;
}
/* SpiderMonkey */
th[class^=firefox],
th[class^=rhino] {
  border-bottom: 5px solid #E66000;
}
/* JavaScriptCore */
th[class^=webkit],
th[class^=safari],
th[class^=phantom],
th[class^=ios] {
  border-bottom: 5px solid #b2b2b2;
}
/* V8 */
th[class^=chrome],
th[class^=node] {
  border-bottom: 5px solid #4db848;
}
/* Carakan */
th[class^=opera] {
  border-bottom: 5px solid #CC0F16;
}
/* KJS */
th[class^=konq] {
  border-bottom: 5px solid #7BD2FF;
}
